# Snowflake connection (uses externalbrowser SSO; no secrets needed here)
SNOWFLAKE_ACCOUNT=sza96462.us-east-1
SNOWFLAKE_USER=your.name@datadoghq.com
SNOWFLAKE_DATABASE=REPORTING
SNOWFLAKE_WAREHOUSE=AD_HOC_DEVELOPMENT_XSMALL_WAREHOUSE
